.checkout-wrapper {
    display: flex;
    gap: 20px;
    padding: 20px;
    background: #eaeded;
}

.checkout-left {
    flex: 3;
}

.checkout-left h1 {
    margin-bottom: 15px;
}

.checkout-box {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.checkout-box h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.checkout-box input {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.order-item {
    display: flex;
    gap: 12px;
    align-items: center;
}

.order-item img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border: 1px solid #ddd;
}

.price {
    color: #b12704;
    font-weight: bold;
}

.checkout-right {
    flex: 1;
    background: white;
    padding: 15px;
    height: fit-content;
    border-radius: 4px;
}

.summary-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.place-order-btn {
    width: 100%;
    background: #ffd814;
    border: 1px solid #fcd200;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}

.place-order-btn:hover {
    background: #f7ca00;
}

@media (max-width: 768px) {
    .checkout-wrapper {
        flex-direction: column;
    }
}